.countdown {
  position: relative;
  height: 500px;
}
.coin1 {
  position: absolute;
  left: 200px;
}
.coin2 {
  position: absolute;
  top: 200px;
  left: 150px;
}
.coin3 {
  position: absolute;
  right: 50px;
  top: 0;
}
.top-strip {
  border-radius: 30px 30px 0 0;
  padding: 25px 50px;
  margin: 0 auto;

  background: linear-gradient(134.14deg, #0083fd 0%, #7fe7ff 98.51%);
  width: fit-content;
}
.top-strip h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.abs-countdown {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.countdown-time {
  padding: 25px 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  border-radius: 0 0 30px 30px;
  background-color: #ffffff;
  justify-content: space-between;
}
.time-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}

.time-flex h3,
.show-counter .countdown > p {
  font-size: 30px;
  text-transform: uppercase;

  color: #121212;
}
.time-flex p,
.show-counter .countdown > span {
  font-size: 15px;

  text-transform: uppercase;

  color: #121212;
}
@media (max-width: 1300px) {
  .coin1 {
    left: 156px;
  }
  .coin2 {
    left: 88px;
  }
  .coin3 {
    right: 10px;
    top: 0;
    width: 373px;
  }
}
@media (max-width: 940px) {
  .coin1,
  .coin2,
  .coin3 {
    display: none;
  }
  .abs-countdown {
    position: static;
  }
  .countdown,
  .abs-countdown {
    height: auto;
  }
}
@media (max-width: 700px) {
  .top-strip {
    padding: 25px 36px;
  }
  .top-strip h2 {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .top-strip h2 {
    font-size: 18px;
  }

  .countdown-container {
    width: 100%;
  }
  .top-strip {
    width: 100%;
    box-sizing: border-box;
    padding: 19px 14px;
  }
  .countdown-time {
    padding: 24px 20px;
  }
  .time-flex h3 {
    font-size: 24px;
    text-align: center;
  }
  .time-flex p {
    font-size: 14px;
  }
}

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.show-counter {
  width: 100%;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.show-counter .countdown {
  height: auto;
}
.hidden-dis {
  display: none;
}
