.platfrom-heading {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;

  text-align: center;

  color: #000000;
}
.text-center {
  text-align: center;
}

.social-flex {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.single-social {
  background: #ffffff;
  box-shadow: -2.5355px 1.93651px 13.9453px -1.26775px rgba(113, 113, 113, 0.12);
  border-radius: 10px;
  padding: 20px 30px;
  /* height: 80px; */
  justify-content: center;
  display: flex;
  align-items: center;
  width: 13%;
}

@media (max-width: 1300px) {
  .social-flex {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .single-social {
    width: 30%;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .platfrom-heading {
    font-size: 25px;
  }
  .single-social {
    width: 46%;
  }
}
@media (max-width: 420px) {
  .single-social {
    width: 100%;
  }
}
